.grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
}

.grid-container-vp {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 50vw;
    background-color: lightcoral;
}


.grid {
    background-color: lightcoral;
        transition: background-color 0.3s;
    
    &.active {
        animation: glow-n-grow 5s forwards;
    }
}

// Test Animations

@keyframes glow-n-grow {
    0% {
        background-color: #4af;
        transform: scale(1.2);
        box-shadow: 0 0 10px #4af;
    }
    100% {
        background-color: lightcoral;
        transform: scale(1.0);
        box-shadow: none;
    }
}


