.parent-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background-color: lightgray;
}

.selection-container {
    
}

// app-grid {
//     display: flex;
//     align-items: center;
// }