// Height currently 80vh Body, 10vh Header, 10vh Footer (make more responsive) 
.parent-container { 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background-color: lightgray;
}

